:root {
  --black: black;
  --white: white;
  --nav-color: brown;
  --nav-bg: #9b9b9b;
  --productsCardBg: #3b3b3b;
  --delPrice: gray;
  --addToCartBtnBg: #add8e6;
  --removeCartBtnBg: tomato;
  --alertPopupBg: tomato;
  --successPopupBg: lightgreen;
}